$colors: (
    "primary": #541cc1,
    "secondary": #0e0520,
    "white-default": #fff,
    "black-default": #000,
);

$primary-color: #541cc1;
$secondary-color: #0e0520;
$white-default: #fff;
$black-default: #000;
$bg-light: #D7D7FF;
$success: #00B69B;
$danger: #EF3826;
$gray: #dedede;
$dark-gray: #37474F;
$link: #0d6efd;
