@use "/src/styles/variables" as *;
@use "/src/styles/mixins" as *;

.btn {
    @include flexbox($justify: center, $align: center, $gap: 16px);
    padding: 8px;
    border: none;
    outline: none;
    border-radius: 6px;
    width: 100%;

    color: $white-default;
    background-color: $fourth-color;
    transition: all 0.3s;

    &:hover {
        background-color: rgba($color: $fourth-color, $alpha: 0.75);
    }
}
